/* html, body, #root, .ant-layout{
  margin: 0;
  padding: 0;
  height: 100% !important;
} */

.anticon-minus-circle{
    padding-left: 10px;
}

.cv-card > .ant-tooltip > .ant-tooltip-content  {
    width: 415px;
  }

  .template-card > .ant-tooltip > .ant-tooltip-content  {
    width: 315px;
  }

  .templates {
    display: flex;
  }

  .ant-card-meta-title{
    text-align: center;
  }