@import url('https://fonts.cdnfonts.com/css/fugaz-one');

html, body{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .container{
  height: 600px;
} */

.logo {
  height: 32px;
  margin: 16px 0;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #61dafb;
  font-family: 'Fugaz One';
  overflow: hidden;
}

.login-container{
  text-align: center;
  padding-top: 100px;
  background-image: url('https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif');
  min-height: 100vh;
}

.title-login{
  font-family: 'Fugaz One';
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  background: rgba(220,220,220,0.8);
  padding: 30px 20px 5px 20px;
  border-radius: 20px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  margin-top: 14px;
  width: 40%;
}